<%= form_with(model: [@book, copy], :url => book_copies_path(@book)) do |form| %>
  <% if copy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
        <% copy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.hidden_field :book_id%>
    <div class="field">
      <%= form.label :borrower, class:"label" %>
      <%= form.text_field :borrower, placeholder: "Eg. F. Scott Fitzgerald, leave blank if not taken out", class:"control" %>
    </div>
    <div class="field">
      <%= form.label :due_date, class:"label" %>
      <%= form.text_field :due_date, class:"control",type:"date",min:"#{Date.today()}" %>
    </div>
    <div class="control">
      <%= form.submit class:"button is-link"%>
    </div>
  </div>
<% end %>