<h2 class="title is-3">Editing copies of <%=@book.title %></h2>
<h2 class="subtitle">Current copy information: </h2>

<%shown_available = false %>

<table class="table">
  <tr>
    <th>Available actions</th>
    <th>Owner</th>
    <th>Due back</th>
  </tr>
  <%(0..(@copies.size-1)).each do |i|%>
    <%if shown_available == false%>
      <%puts "here! #{@count_available}"%>
      <%if @count_available != 0%>
      <tr>
        <td>
        <button class="button"><%= link_to "Take out", edit_book_copy_path(@book, @copies[i])%></button>
        <%shown_available = true %>
        <td></td>
        <td></td>
        </td>
      </tr>
      <%else %>
      <tr>
        <td>No Copies of this book available</td>
        <%shown_available = true %>
        <td></td>
        <td></td>
      </tr>
      <%end %>
    <%else %>
      <%unless @copies[i].borrower.length==0%>
        <tr>
          <td><button class="button is-small"><%= link_to "Return or renew", edit_book_copy_path(@book, @copies[i])%></button></td>
          <td><%=@copies[i].borrower%></td>
          <td><%=@copies[i].due_date %></td>
        </tr>
      <%end %>
    <%end %>
  <%end %>
  <tr>
    <td>
      <button class="button"><%= link_to "Copy creation", new_book_copy_path(@book) %></button>
    </td>
  </tr>
</table>

<button class="button"><%= link_to "Return to book view", @book %></button>
<button class="button"><%= link_to "Back to book list", books_path %></button>

