<%=render 'top_menu' %>

<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books_sorted.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to book.title, book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
