<h1 class="title"><%=@book.title %></h1>
<h1 class="subtitle"><%=@book.author %></h1>

<div class="box">
  <h2 class="subtitle">Book information</h2>
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="box">
        <%=@book.genre %>
        <%if @book.genre == nil %>
          <div class="block">
            No book genre added yet
          </div>
          <button class="button"><%= link_to "Fix me!", edit_book_path(@book) %></button>
        <%end %>
      </div>
      <div class="box">
        <%=@book.description %>
        <%if @book.description == nil %>
          <div class="block">
            No book description added yet
          </div>
          <button class="button"><%= link_to "Fix me!", edit_book_path(@book) %></button>
        <%end %>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <dl>
          <dt>ISBN</dt>
          <dd><%=@book.isbn %></dd>
          <dt>Record created at:</dt>
          <dd><%=@book.created_at %></dd>
          <dt>Record last updated at:</dt>
          <dd><%=@book.updated_at %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <h2 class="subtitle">Copy information</h2>
  <%(0..(@copies.size-1)).each do |i|%>
    <li>
      <%if @copies[i] == nil || @copies[i].borrower.length == 0%>
        <%="Copy #{i+1} is available" %>
      <%else %>
        <%="Copy #{i+1} borrowed by #{@copies[i].borrower}" %>
      <%end %>
    </li>
  <% end %>
</div>

<!--<div class="box">-->
<!--  <h2 class="subtitle">Reviews</h2>-->
<!--  Placeholder for written reviews-->
  <%#=link_to "Leave a review", new_book_review_path %>
<!--</div>-->

<h2 class="subtitle">Actions</h2>

<button class="button"><%= link_to "Edit this book's info", edit_book_url %></button>
<button class="button"><%= link_to "View detailed copy info of this book", book_copies_url(@book) %></button>
<button class="button"><%= link_to "Back to books", root_url %></button>
<%= button_to "Destroy this book", @book, method: :delete, class:"button is-danger mt-3" %>
