<%=render 'top_menu' %>

<p style="color: green"><%= notice %></p>
<h1><%=@book.title %></h1>

<%= render @book %>

<p>Author: <%=@book.author %></p>
<p>ISBN: <%=@book.isbn %></p>
<p>Record created at: <%=@book.created_at %></p>
<p>Record last updated at: <%=@book.updated_at %></p>

<h2>Copy information</h2>

<%(0..(@copies.size-1)).each do |i|%>
    <%if @copies[i] == nil || @copies[i].borrower.length == 0%>
      <%="Copy #{i+1} is available" %>
      <%else %>
      <%="Copy #{i+1} borrowed by #{@copies[i].borrower}" %>
      <%end %>
    <br>
<% end %>

<h2>Actions</h2>

<div>

  <%= link_to "Edit this book's info", edit_book_path(@book) %> |
  <%= link_to "Edit copy info of this book", "#{@book_id}/copy_edit" %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
