<!DOCTYPE html>
<html>
  <head>
    <title>Bookish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/books">
        <img src="https://www.cambridgeblog.org/wp-content/uploads/2018/06/antique-books-615x290.png" width="112" height="40">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/books">
          Home
        </a>

        <a class="navbar-item" href="/search">
          Search
        </a>

        <a class="navbar-item" href="https://github.com/ZakCannon/Bookish">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Summary stats
            </a>
<!--            <a class="navbar-item">-->
<!--              Contact-->
<!--            </a>-->
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/ZakCannon/Bookish/issues">
              Report an issue
            </a>
          </div>
        </div>
      </div>
    </div>

      <div class="navbar-end">
        <div class="navbar-item">

          <div class="buttons">
            <% if user_signed_in? %>
              <%= link_to current_user.email, edit_user_registration_path, class:"button is-primary" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button is-light" %>
            <% else %>
              <%= link_to "Log in", new_user_session_path, class:"button is-primary" %>
              <%= link_to "Register", new_user_registration_path, class:"button is-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <p class="notice" style="color: green"><%= notice %></p>
  <p class="alert" style="color: red"><%= alert %></p>

  <div class="block ml-4 mr-4">
    <%= yield %>
  </div>


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bookish</strong> by Zak Cannon. Source available from top bar.
      </p>
    </div>
  </footer>
</html>